@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}

/* Styles for Swiper carousel  */
.swiper-container{
    width:100%;
    height:auto !important;
    position: relative;
    list-style: none;
}

.swiper-wrapper{
    padding-inline-start: 0;
    margin-left: 6% !important;
}

.img-swiper .swiper-wrapper{
    margin-left: 0% !important;
}

.swiper-button-prev{
    background-color: white !important;
    color:black !important;
    position: absolute !important;
    background-image: url('https://img.icons8.com/windows/32/000000/circled-chevron-left.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 26px !important;
    border-radius: 999px;
}

.img-swiper .swiper-button-prev{
    background-image: url('https://img.icons8.com/material-outlined/24/000000/back--v1.png') !important;
}

.swiper-button-prev::after {
    display: none;
}

.swiper-button-next{
    background-color: white !important;
    color:black !important;
    position: absolute !important;
    background-image: url('https://img.icons8.com/windows/32/000000/circled-chevron-right.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 26px !important;
    border-radius: 999px;
}

.img-swiper .swiper-button-next{
    background-image: url('https://img.icons8.com/material-outlined/24/000000/forward--v1.png') !important;
}

.swiper-button-next::after {
    display: none;
}

.swiper-pagination-bullet{
    background-color: #d9d9d9 !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active{
    background-color: white !important;
}

/* media queries for swiper carousel */
@media screen and (max-width: 769px) {
    .swiper-wrapper{
        margin-left: 0% !important;
    }
}